.gifts {
    background-color: var(--main-accent-color);
    padding-block: 60px;
    &__cards {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 310px);
        grid-template-rows: 342px;
        gap: 12px;
        margin-top: 20px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);
        border-radius: 20px;
        cursor: pointer;
        &:hover {
           .fz-16 {
            color: var(--main-accent-color);
           } 
        }
        &__image {
            width: 100%;
            object-fit: contain;
            height: 230px;
        }
        &__footer {
            border-radius: 20px;
            padding: 20px 20px 44px 20px;
            &__title-blue {
                color: blue;
                font-size: 12px;
            }
            &__title-green {
                color: green;
                font-size: 12px;
            }
            &__title-blue {
                color: blue;
                font-size: 12px;
            }
            &__title-pink {
                color: pink;
                font-size: 12px;
            }
        }
    }
    &__title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 32px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        text-align: center;
        color: var(--color-white);
        max-width: 426px;
        margin: 0 auto;
    }
    &__2 {
        background-image: url(../images/bg-garland.png);
        background-size: 100%, auto;
        background-repeat: no-repeat;
        border-radius: 20px;
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 8px;
        div {
            padding: 12px 20px;
            border-radius: 12px;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: var(--color-white);
            cursor: pointer;
            &:hover {
                background: hsla(0, 0%, 100%, .2);
            }
            &.active {
                background: hsla(0, 0%, 100%, .2);
            }
        }
    }
    &__content {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }
}
@media (max-width: 800px) {
    .gifts {
        &__container {
            padding-inline: 68px;
        }
    }
}
@media (max-width: 768px) {
    .gifts {
        &__cards {
            grid-template-columns: repeat(auto-fill, minmax(310px, 400px));
            justify-content: center;
            gap: 12px;
        }
    }
}
@media (max-width: 1200px) {
    .gifts {
        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
        &__container {
            padding-inline: 60px;
        }
    }
}
@media (max-width: 600px) {
    .gifts {
        &__content {
            grid-template-columns: 1fr;
            padding-inline: 27px;
        }
        &__container {
            padding-inline: 8px;
        }
        &__list {
            gap: 0;
            div {
                padding: 12px 8px;
            }
        }
    }
}