:root {
    --main-accent-color: #FF4646;
    --color-white: #FFFFFF;
    --color-dark-bg: #181C29;
    --color-green: #06A44F;
    --color-puple: #4361FF;
    --color-pink: #FF43F7;

    --font-family-base: 'Montserrat', sans-serif;
    --font-family-accent: 'Allura', sans-serif;

    --container-width: 1276px;
    --container-padding-x: 82px;
}